# 全局变量配置
variables:
  myHome: <%-myHome%>

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.18.1]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 14.18.1
        uses: actions/setup-node@v3
        with:
          node-version: 14.18.1
      - run: npm ci
      - run: npm run build

      - name: deploy my-home 
      uses: easingthemes/ssh-deploy@v2.0.7
      env:
        SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_KEY }}
        ARGS: "-avzr --delete"
        SOURCE: "dist/my-home"
        REMOTE_HOST: ${{ secrets.SSH_HOST }}
        REMOTE_USER: ${{ secrets.SSH_USERNAME }}
        TARGET: "/root/web/multi-h5/dist/"
   
      - name: deploy my-test 
      uses: easingthemes/ssh-deploy@v2.0.7
      env:
        SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_KEY }}
        ARGS: "-avzr --delete"
        SOURCE: "dist/my-test"
        REMOTE_HOST: ${{ secrets.SSH_HOST }}
        REMOTE_USER: ${{ secrets.SSH_USERNAME }}
        TARGET: "/root/web/multi-h5/dist/"
   